[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
.vs/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
.DS_Store
Thumbs.db
sysinfo.txt
UserSettings/Layouts/default-2022.dwlt
*.dwlt
