# Unity生成文件
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
obj/

# VS/IDE缓存
.vscode/
.idea/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj

# 自动生成
*.tmp
*.bak
*.old
*.swp
*.DS_Store

# 不提交个人布局
*.dwlt
